* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

.main-body {
    background-color: rgb(255, 243, 225);
}

.main-header {
    display: flex;
    background-color: darkseagreen;
    justify-content: space-between;
    align-items: center;
}

